@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  background-color: #e5e4e2;
}
header,
main,
footer {
  background-color: #d3d3d3;
  margin: 2rem;
  padding: 2rem;
  color: #696969;
}

/* header .img {
} */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 2rem;
  justify-content: center;
}
.box {
  background-color: #f2f3f4;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 1rem;
  border-radius: 5%;
  box-shadow: 0 0 5px #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
}

a {
  color: #333;
}

footer {
  text-align: center;
}

button {
  height: 80%;
  width: auto;
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #696969;
  padding: 1rem;
  margin-bottom: 10px;
  color: #696969;
}

header {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  margin: 1rem;
}

input {
  display: block;
  width: 300px;
  height: 30px;
  margin: 1rem;
  padding: 1 rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f3f4;
  color: #696969;
  font-family: "Lato", sans-serif;
}
